[submodule "AdvancedGoogleAnalytics"]
	path = AdvancedGoogleAnalytics
	url = https://github.com/lifeisfoo/AdvancedGoogleAnalytics.git
[submodule "CategoryBasedNewDiscussionButtonText"]
	path = CategoryBasedNewDiscussionButtonText
	url = https://github.com/lifeisfoo/CategoryBasedNewDiscussionButtonText.git
[submodule "EasyMembersList"]
	path = EasyMembersList
	url = https://github.com/lifeisfoo/EasyMembersList.git
[submodule "Groups"]
	path = Groups
	url = https://github.com/lifeisfoo/Groups.git
[submodule "MailChimpIntegration"]
	path = MailChimpIntegration
	url = https://github.com/lifeisfoo/MailChimpIntegration.git
[submodule "Memberships"]
	path = Memberships
	url = https://github.com/lifeisfoo/Memberships.git
[submodule "Van2Shout"]
	path = Van2Shout
	url = https://github.com/lifeisfoo/Van2Shout.git
[submodule "PictureGallery"]
	path = PictureGallery
	url = https://github.com/lifeisfoo/PictureGallery.git
[submodule "WhosOnline"]
	path = WhosOnline
	url = https://github.com/lifeisfoo/WhosOnline.git
[submodule "RegistrationRole"]
	path = RegistrationRole
	url = https://github.com/lifeisfoo/RegistrationRole.git
[submodule "Group2Role"]
	path = Group2Role
	url = https://github.com/lifeisfoo/Group2Role.git
